<%- include("header") -%>

  <div class="box" id="heading">
    <img src= <%= url %>>
    <h1> The temperature in <%= location %> is <%= temperature %> degrees Celcius.</h1>
    <h2>The weather is currently <%= description %>.</h2>
    </div>

<%- include("footer") -%>
